<p>
<% @@game.player1.hand.each do |card| %>
<%= card.suit %>
<%= card.number%>
<% end %>
</p>

<p>
<% @@game.player2.hand.each do |card| %>
<%= card.suit %>
<%= card.number%>
<% end %>
</p>

<a href="/play_again">play again</a>

<%= @@game.hand_value %>

<%= @@game.record %>
