
<% @@game.player.hand.each do |card| %>	
<% if card.suit == "&#9830;" || card.suit == "&#9829;"%>
	<div class="card"><p class="card-suit"><%= card.suit %></p><p class="card-number"><%= card.number %></p></div>
	<% else %>
			<div class="card black"><p class="card-suit"><%= card.suit %></p><p class="card-number"><%= card.number %></p></div>
	<% end %>
<% end %>

<p><a href="/play_again">play again</a><p>

<% @@game.computer.hand.each do |card| %>
		<% if card.suit == "&#9830;" || card.suit == "&#9829;"%>
	<div class="card"><p class="card-suit"><%= card.suit %></p><p class="card-number"><%= card.number %></p></div>
	<% else %>
	<div class="card black"><p class="card-suit"><%= card.suit %></p><p class="card-number"><%= card.number %></p></div>
		<% end %>
<% end %>	

<%= @@game.hand_value %>
<!-- <p></p>
<p>Record:</p> -->
<%# @@rolodex.record.each do |key,value| %>
<!-- <p><%#= key %> : <%#= value %></p> -->
<%# end %>  